@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300&family=Open+Sans:wght@300&display=swap');

/* General boilerplate code for resetting borders and margins */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	background: linear-gradient(
			rgba(246, 247, 249, 0.8),
			rgba(246, 247, 249, 0.8)
		),
		no-repeat center center fixed;
	background-size: cover;
}

/* CSS for Navigation Bar and Hamburger Menu */
nav {
	height: 8vh;
	background: #004e92;
}

.navbar {
	display: flex;
}

.search-bar {
	font-family: 'Heebo';
	padding-top: 20px;
	padding-left: 2vh;
	width: 35%;
}

#search {
	height: 4vh;
	padding-left: 20px;
	border: none;
	border-radius: 20px;
	margin-bottom: 20px;
	background: rgba(255, 255, 255, 0.6);
	font-size: 20px;
	display: block;
	width: 90%;
	overflow: hidden;
	line-height: 40px;
}

.links {
	width: 65%;
}

.nav-links {
	font-family: 'Heebo';
	letter-spacing: 1.5px;
	font-weight: 300;
	display: flex;
	list-style: none;
	width: 100%;
	height: 100%;
	justify-content: space-around;
	align-items: center;
	margin-left: auto;
}

.nav-links li a {
	color: white;
	text-decoration: none;
	font-size: 1.1rem;
}
/*CSS for Navigation Bar ends */

.landing {
	height: 100%;
	width: 100%;
	background: #15142a;
}

.landing h1 {
	letter-spacing: 10px;
	font-family: 'Heebo';
	font-size: 4rem;
	color: white;
	font-weight: 100;
	padding-top: 8vh;
	margin-left: 8vh;
	margin-bottom: 40px;
}

.landing h2 {
	text-align: center;
	letter-spacing: 2px;
	font-family: 'Heebo';
	font-size: 1.5rem;
	color: white;
	font-weight: 300;
}

.landing h3 {
	text-align: center;
	letter-spacing: 2px;
	font-family: 'Heebo';
	font-size: 1.15rem;
	color: white;
	font-weight: 100;
}

.cards {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.profile {
	width: 300px;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-radius: 28px;
	background: linear-gradient(145deg, #131226, #16152d);
	box-shadow: 20px 20px 60px #121124, -20px -20px 60px #181730;
}

.icons img {
	height: 40px;
	width: 40px;
	margin: 15px;
}

.photo {
	width: 220px;
	height: 220px;
	-webkit-border-radius: 60px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 60px;
	-moz-background-clip: padding;
	border-radius: 50%;
	background-clip: padding-box;
	margin: 7px 0 0 5px;
	float: left;
	background-size: cover;
	background-position: center center;
}

/* CSS for Footer */
footer {
	text-align: center;
	font-family: 'Heebo';
	font-weight: 300;
	color: black;
	width: 100%;
	height: 25vh;
	background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
	flex-direction: column;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.icons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#linkedin,
#fb,
#insta {
	margin-left: 10px;
	margin-right: 10px;
	height: 40px;
	width: 40px;
}

#back a {
	text-decoration: none;
	color: white;
}

#back {
	font-family: 'Open Sans';
	font-size: 14px;
	width: 150px;
	height: 40px;
	outline: none;
	border: none;
	cursor: pointer;
	font-weight: 300;
	border-radius: 70px;
	color: #fff;
	background: linear-gradient(to bottom right, #6452e9, #639ff9);
	box-shadow: 0 13px 26px rgba(#000, 0.16), 0 3px 6px rgba(#000, 0.16);
}
/* CSS for Quotes Page ends */

/* CSS for Responsive Website */
@media screen and (max-width: 910px) {
	/* Code for Navbar and Hamburger Menu */
	.line {
		width: 30px;
		height: 3px;
		background: white;
		margin: 5px;
	}

	nav {
		position: relative;
	}

	.search-bar {
		padding: 2vh;
		position: absolute;
		width: 80%;
	}

	.hamburger {
		position: absolute;
		cursor: pointer;
		right: 5%;
		top: 50%;
		transform: translate(-5%, -50%);
		z-index: 2;
	}

	.nav-links {
		position: fixed;
		background: #004e92;
		height: 100vh;
		width: 100%;
		flex-direction: column;
		clip-path: circle(100px at 90% 10%);
		-webkit-clip-path: circle(100px at 90% -10%);
		transition: all 1s ease-out;
		pointer-events: none;
	}

	.nav-links.open {
		clip-path: circle(100px at 90% 10%);
		-webkit-clip-path: circle(1200px at 90% -10%);
		pointer-events: all;
	}

	.nav-links li {
		opacity: 0;
	}

	.nav-links li a {
		font-size: 1.5rem;
		letter-spacing: 5px;
	}

	.nav-links li:nth-child(1) {
		transition: all 0.5s ease 0.2s;
	}

	.nav-links li:nth-child(2) {
		transition: all 0.5s ease 0.4s;
	}

	.nav-links li:nth-child(3) {
		transition: all 0.5s ease 0.6s;
	}

	.nav-links li:nth-child(4) {
		transition: all 0.5s ease 0.8s;
	}

	li.fade {
		opacity: 1;
	}
	/* Code for Navbar and Hamburger Menu ends*/
	.landing {
		width: 100%;
		height: auto;
		min-height: 100vh;
	}
	.profile {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.landing h1 {
		text-align: center;
		letter-spacing: 2px;
		font-size: 2.25rem;
		font-weight: 100;
		margin-left: 0;
		margin-bottom: 20px;
	}
}
